@media only screen and (max-width: 320px) {
    .title {
        font-size: 25px !important;
    }

    .SubTitle {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 321px) {
    .Main-grid {
        padding-left: 2px !important;
        padding-top: 10px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .categary-name {
        font-size: 18px !important;
    }

    .sub-title {
        padding: 20px !important;
    }

    .Card-content {
        padding: 0px !important;
    }

    .List-item {
        padding: 0px !important;
    }

    .card-image {
        width: 82px !important;
        height: 82px !important;
    }

    .footer1 {
        font-size: 13px !important;
        padding: 13px !important;
    }

    .info {
        display: none;
    }

    .info1 {
        font-size: 17px !important;
    }

    .MuiTypography-root.MuiTypography-body1.MuiListItemText-primary.css-10hburv-MuiTypography-root {
        font-size: 10px;
    }

    .MuiTypography-root.MuiTypography-body2.MuiListItemText-secondary.css-83ijpv-MuiTypography-root {
        font-size: 8px;
    }
}

.info-link {
    color: white;
}




/* .css-1to7aaw-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #E4501D !important;
} */